@import url('https://fonts.googleapis.com/css2?family=Work+Sans:wght@400;600&display=swap');

body {
    background-color: antiquewhite;
    font-family: 'Work Sans', sans-serif;
    font-size: 18px;
    padding: 30px 0;
    height: initial;
}

h3 {
    margin-bottom: 7px;
    font-size: 22px;
}

li {
    display: block;
    list-style-type: disc;
}

a {
    text-decoration: underline;
}
.conteiner {
    max-width: 1270px;
    margin: 0 auto;
    padding: 0 20px;
}

.header {
    border-bottom: 2px solid;
    padding-bottom: 5px;
}

.header img {
    width: 300px;
    height: 300px;
    border-radius: 50%;
}

.s-contacts {
    padding-top: 40px;
    display: flex;
    justify-content: center;
    padding-bottom: 40px;
}

.s-contacts__user {
    display: flex;
    justify-content: center;
    flex-basis: 50%;
}

.s-contacts__user-img{
    width: 300px;
    height: 300px;
}

.s-contacts__user-img img{
    width: 100%;
    height: 100%;
    border-radius: 50%;
    object-fit: cover;
}

.s-contacts__info {
    flex-basis: 50%;
    align-self: center;
}

.l-link {
    margin-top: 10px;
}

.l-link__item {
    display: inline;
} 

.l-link__item:nth-child(n+2){
    margin-left: 30px;
}

.l-link__item img {
    width: 40px;
    height: 40px;
}

.l-info li:nth-child(n+2){
    margin-top: 3px;
}

.s-info h3:nth-child(n+2){
    margin-top: 25px;
}




